<article nz-typography>
  <h1 nz-typography>Welcome</h1>
  <p nz-typography>Welcome to the Pepper Lover's Seed Exchange Application.</p>
  <p nz-typography>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et nunc
    tortor. Praesent dui dolor, elementum vitae nisi eget, auctor cursus turpis.
    Nam bibendum magna lacus, ut bibendum sem rhoncus at. Quisque id mauris at
    arcu elementum sodales. Morbi metus nulla, tempor id tellus a, sodales
    ornare mi. Nunc ornare felis et ullamcorper tempor. Pellentesque scelerisque
    justo lobortis, tincidunt enim in, pellentesque justo.
    <span nz-typography>
      <strong>
        Sed ipsum sem, blandit sed imperdiet eget, elementum vitae nibh. Fusce
        rutrum, nibh eu gravida venenatis, nunc erat auctor lacus, eget
        vestibulum dolor est sed tortor. Sed in neque interdum, hendrerit felis
        non, viverra urna. Phasellus viverra tincidunt lacinia. Donec accumsan
        sapien nec pretium porttitor. Quisque et justo in lectus suscipit
        ornare. Maecenas maximus non est quis facilisis. Etiam et venenatis
        sapien.
      </strong>
    </span>
    .
  </p>
  <h2 nz-typography>Guidelines and Resources</h2>
  <p nz-typography>
    We ask that all members adhere to the following guidelines to keep the
    community safe and healthy.
  </p>
  <div nz-typography>
    <ul>
      <li>
        <a href="/community-guidelines">Community Guidelines</a>
      </li>
      <li>
        <a href="/faq">FAQ</a>
      </li>
    </ul>
  </div>
  <p nz-typography>Stay spicy</p>
</article>
<nz-divider></nz-divider>
