<nz-timeline nzMode="alternate">
  <nz-timeline-item>Ship final packages out 2015-09-01</nz-timeline-item>
  <nz-timeline-item nzColor="green">Sort packages</nz-timeline-item>
  <nz-timeline-item [nzDot]="dotTemplate">
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
    beatae vitae dicta sunt explicabo.
  </nz-timeline-item>
  <nz-timeline-item nzColor="red">Sort seeds 2015-09-01</nz-timeline-item>
  <nz-timeline-item>Ship packages in 2015-09-01</nz-timeline-item>
  <nz-timeline-item [nzDot]="dotTemplate">Registration Opens 2015-09-01</nz-timeline-item>
</nz-timeline>
<ng-template #dotTemplate>
  <i nz-icon nzType="clock-circle-o" style="font-size: 16px"></i>
</ng-template>
